*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    font-family: sans-serif;
    min-height: 100vh;
    color: #252525;
    background: #fcfcfc;
    font-weight: 300;
    display: grid;
    justify-content: center;
    padding: 3em 0;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}
.main_form{
    display: grid;
    gap: .6em;
    justify-items: center;
}
input{
    all: unset;
    padding: .5em .8em;
    width: 80%;
    border: 1px solid lightgreen;
    text-align: start;
    color: #131313;
}
.main_form-submit-btn{
    all: unset;
    width: 10em;
    background: lightgreen;
    padding: .7em 0;
    transition: all .5s ease;
}
p{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.main_scoreboard-wrapper{
    width: 100%;
    display: grid;
    justify-items: center;
    gap: 1em;
}
.main_scoreboard{
    display: grid;
    justify-items: center;
    gap: .3em;
    width: 90%;
    background: lightgreen;
    text-transform: uppercase;
    padding: 1em 0;
}
.main_player-name{
    font-weight: 400;
}
.main_time-stamp{
    color: #686868;
    font-size: .8em;
}
.main_scoreboard-btn-container{
    margin: 1em;
    display: flex;
    gap: .5em;
}
